@import "tailwindcss";

/* EEEEEE
CBCBCB
B7B89F
777C6D */

.update{
    height:100%;
}
.todo-update{
    display: none;
    height:80vh;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #f3f4f6;
    position: fixed;

}